    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Brand 1</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Brand 2</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Brand 3</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Brand 4</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent" >
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
      </div>
    </div>

    <ul class="list-unstyled" style="position: absolute; top: 20%; left: 24%; width: 968px;">

      <% @products.each do |product| %>
        <li class="media">
          <img src="..." class="align-self-center mr-3" alt="...">
          <div class="media-body">
            <table width="100%"><tr width=100%>
              <td width="90%" id="post">

              <%= link_to product_path(product["id"]) do %>
                <ul class="list-inline">
                  <li class="list-inline-item post-title">Brand: <%= product["brand"] %></li>
                  <li class="list-inline-item post-info">Model: <%= product["model"] %></li>
                </ul>
              <% end %>
                <ul class="list-inline">
                  <li class="list-inline-item post-info">Price: $<%= product["price"] %></li>
                  <li class="list-inline-item post-info">Description: <%= product["short_description"] %></li>
                </ul>
              </td>
            </tr></table>
        </li>
      <% end %>
    </ul>